* {
    margin: 0;
    padding: 0;
}

/* вся верхняя навигация */
header {
    background-color: #1f2937;

}

.info {
    display: flex;
    justify-content: space-around;

}

.nav-info {
  padding-top: 10px ;
    font-size: 20px;
  
}

.nav-info a {
    text-decoration: none;
    padding: 20px;
    color: aliceblue;
}
.nav-info a:hover {
    color:#3882f6;
    text-decoration: underline;
    cursor: pointer;
  
}


/* шапка сайта  */
main {
    background-color: #1f2937;
    padding-top: 4em
}
.main {
    display: flex;
    justify-content: space-around;
}
.main-content {
    color: aliceblue;
}
.main-content h1, h2, p {
    padding-top: 10px;
} 
button {
    margin-top: 20px;
  
    border: 10px solid #3882f6;
    border-radius:  0.5em;
    color: rgb(255, 255, 255);
    background-color: #3882f6;
}

button:hover {
    text-decoration:underline;
    color: #000000;
    cursor: pointer;

}

.main-images {
    margin-bottom: 60px;
}


.main-images>img {

    border: 5px solid #e4dfdf;
    border-radius: 1em;
}




/* меню */
.mainImages {
    display: flex;
    justify-content:center;
    margin: 100px;
    background-color: #fdfdfd;

}

 .mainImages img {
    border: 4px solid #071425;
    border-radius: 20px;
}

.html { 
    margin-right: 50px;

}

.css {
margin-right: 50px;
}

.javascript {
margin-right: 50px;
}

.main-info {
    font-size: 22px;
    font-style: italic;
    text-align: center;
    padding-top: 50px;
}
