* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(63, 59, 59);

}
.info {
    display: flex;
    justify-content: space-around;

}

.nav-info {
  padding-top: 10px ;
    font-size: 20px;
  
}

.nav-info a {
    text-decoration: none;
    padding: 20px;
    color: aliceblue;
}
.nav-info a:hover {
    color: black;
}

